<p>Prinzipien.<p>
  <p>
  Aus Spaß an der Freude haben wir Musik zu unserem Hobby gemacht. Deshalb gründen
  wir ein neues und bewusst uncooles Plattenlabel. Es heißt Hobby-Musik, weil wir
  es blöd finden, dass Unprofessionalität und Arbeit, mit der man nicht seinen
  Lebensunterhalt verdient, gering geschätzt werden. Die gedankliche Kopplung von
  Pop auf semi-hohem Niveau und seiner beruflichen Ausübung ist nicht so richtig
  gut. Angestachelt von schlechtem Witz und unbändiger Leidenschaft für gut
  gemeinte Unterhaltungsmusik soll die ewige Spirale von Arbeit und Regeneration
  durchbrochen werden. Das System der großen Studios und Stars hat verspielt. Nun
  geht es um mehr als "einfach nur gute Musik" und hübsche Cover in matt oder
  Bordeaux. Um diese Idee auf möglichst viele Gehirne auszudehnen bringen wir
  CDs, Platten oder Download-Pakete heraus und organisieren Veranstaltungen und
   Konzerte, auf denen wir unser Hobby intensiv zelebrieren. Wir bespielen Bühnen,
   produzieren, bloggen und scheuen keine Drastik. Wir kultivieren Antihumor und
   hässliche Kleidung, oder eben nicht. Entscheidend ist lediglich, dass wir es
   exakt so wollen.
  </p>
  